---
# Layout Rewrite 2021: Glossary Layout
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {% include 2021/1-head/1-common.html %}
  {% include 2021/1-head/2-social-common.html %}
  {% include 2021/1-head/4-noscript.html %}
</head>
<body id="body" class="dark-theme">
  {% include 2021/2-body/1-header.html %}
  
  <ol class="breadcrumb" aria-label="breadcrumb">
    {% include 2021/2-body/2-breadcrumbs/glossary-overview.html %}
  </ol>
  
  <main id="content" class="glossary row">
    {{ content }}
  </main>

  {% include 2021/2-body/4-footer.html %}

  {% include 2021/2-body/5-policy-banner.html %}

  {% include 2021/2-body/5-wei-banner.html %}
  
  {% include 2021/2-body/6-controls.html %}

  <!-- hash: 'sha256-B75kuj4XBwqTynjEBPY0crnnQrCH3Uckwy8CeNtR5Mg=' -->
  <script>window['pageType']='base'</script>
