.unicode-icon {
  display: inline-block;
  width: 1.5em;
  text-align: right;
  margin-right: .5rem;
  font-family: emoji;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  img {
    margin: 0;
    position:relative;
    width: 101px;
    right: 14px;
  }
}

.shields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .5rem;

  img {
    margin: 0;
    border-radius: 7px;
  }
  
  a {
    display: block;
    width: 64px;
    overflow: hidden;
    border-radius: 7px;
  }
}
