<h1 class="p-name">
    {{ page.title }}
</h1>
<small id="talkify-metadata" class="clearfix" aria-flowto="chapter-content">
    {% assign published = page.date | date: '%s' %}
    {% assign modified = page.last_modified_at | date: '%s' %}
    published&nbsp;on&nbsp;<time pubdate datetime="{{ page.date | date: "%F" }}" class="dt-published">{{ page.date | date: "%A,&nbsp;%F" }}</time>{% unless modified < published %}, last&nbsp;updated&nbsp;on&nbsp;<time datetime="{{ page.last_modified_at | date_to_xmlschema }}" class="dt-updated">{{ page.last_modified_at | date: "%A,&nbsp;%F&nbsp;at&nbsp;%H:%M&nbsp;%Z" }}</time>,{% endunless %}
    {% if page.author %}
    {% assign author = site.data.staff | where: "id", page.author | last %}
    written&nbsp;by&nbsp;{% if author.url %}<a href="{{ author.url }}" target="_blank" class="p-author h-card" rel="author" ref="noopener">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif %}{% endif %}{{ -}}
    {% if page.checker %}, {%if page.checker.size > 1 %}{% endif %}checked&nbsp;with&nbsp;{{ -}}
    {% for e in page.checker %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="sponsored">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %}&nbsp;and&nbsp;{% endunless %}{% endfor %}{% endif %}{{ -}}
    {% if page.editor %}, edited&nbsp;by&nbsp;{{ -}}
    {% for e in page.editor %}{% assign editor = site.data.staff | where: "id", e | last %}{% if editor.url %}<a href="{{ editor.url }}" target="_blank" ref="noopener" rel="nofollow">{% endif %}{{ editor.name }}{%  if editor.url %}</a>{% endif %}{% unless forloop.last %}&nbsp;and&nbsp;{% endunless %}{% endfor %}{% endif %},
    tagged&nbsp;with&nbsp;{% for t in page.tags %}<a href="{{ "/tags/"| prepend: page.canonical_domain | absolute_url }}{{ t | slugify }}/" rel="tag" class="p-category">{{ t }}</a>{% unless forloop.last %},&nbsp;{% endunless %}{% endfor %}.
</small>
<a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans"></a>
