{% unless canonical_url %}
{% capture share_title %}{{ page.book.series }} {{ page.book.number }}-{{ page.chapter }}: {{ page.title }}{% endcapture %}
{% capture share_text %}Check out {{ share_title }} on {{ site.title }}!{% endcapture %}
{% capture tumblr_caption %}{{ share_text }} <br>via <a href="https://{{ site.tumblr.url }}">{{ site.tumblr.url }}</a>{% endcapture %}
{% capture series_camelcase %}{% assign ws = page.book.series | split: ' ' %}{% for w in ws %}{{w | capitalize}}{% endfor %}{% endcapture %}
<p>
    Share this chapter on
</p>
<div class="icons shields justify-content-start">
    <a title="Share Chapter using Web Share API"
        onclick="navigator.share({title:'{{ page.title | replace: "'", "\\'" }}', text:'{{ share_text | replace: "'", "\\'"}}', url:'{{ s }}'})"
        target="_blank" rel="noopener nofollow" id="share">
        <img loading="lazy" src="{{ "/proxy/shields/-/share/shield.svg" | absolute_url }}" alt="Share Chapter using Web Share API" width="64" height="64">
    </a>
    <a title="Share Chapter on BlueSky"
    href="https://bsky.app/intent/compose?text={{ share_text | url_encode }}%0A%0A{{ s }}%0A%0Aby%20%40{{ site.bluesky.username }}%0A%0A{{ s }}%0A%0A%23Fantasy%20%23WebFiction%20%23WebNovel%20%23WebSerial"
    target="_blank" rel="noopener nofollow">
    <img loading="lazy" src="{{ "/proxy/shields/-/bluesky/shield.svg" | absolute_url }}" alt="Share Chapter on BlueSky" width="64" height="64">
    </a>
    <a title="Share Chapter on Mastodon"
    href="/tools/toot/?text={{ share_text | url_encode }}%0A%0A{{ s }}%0A%0Aby%20%40{{ site.mastodon.username }}%0A%0A{{ s }}%0A%0A%23Fantasy%20%23WebFiction%20%23WebNovel%20%23WebSerial"
    target="_blank" rel="noopener nofollow">
    <img loading="lazy" src="{{ "/proxy/shields/-/mastodon/shield.svg" | absolute_url }}" alt="Share Chapter on Mastodon" width="64" height="64">
    </a>
    <a title="Share Chapter on X"
        href="https://x.com/intent/tweet?url={{ s }}%0A%0A&text={{ share_text }}%0A%0A&via={{ site.twitter.username }}&hashtags=Fantasy,WebFiction,WebNovel,WebSerial"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/x/shield.svg" | absolute_url }}" alt="Share Chapter on X" width="64" height="64">
    </a>
    <a title="Share Chapter on reddit"
        href="https://reddit.com/submit?url={{ s }}&title={{ share_text | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/reddit/shield.svg" | absolute_url }}" alt="Share Chapter on reddit" width="64" height="64">
    </a>
    <a title="Share Chapter on Pinterest"
        href="https://pinterest.com/pin/create/button/?url={{ s }}&description={{ share_title | url_encode }}&media={{ "/assets/images/site-card.webp" | absolute_url }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/pinterest/shield.svg" | absolute_url }}" alt="Share Chapter on Pinterest" width="64" height="64">
    </a>
    <a title="Share Chapter on Telegram"
        href="https://telegram.me/share/url?url={{ s }}&text={{ share_text | url_encode }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/telegram/shield.svg" | absolute_url }}" alt="Share Chapter on Telegram" width="64" height="64">
    </a>
    <a title="Share Chapter on Facebook"
        href="https://www.facebook.com/sharer.php?src=bm&u={{ s }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/facebook/shield.svg" | absolute_url }}" alt="Share Chapter on Facebook" width="64" height="64">
    </a>
    <a title="Share Chapter on WhatsApp"
        href="https://api.whatsapp.com/send?text={{ share_text | url_encode }}%0A%0A{{ s }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/whatsapp/shield.svg" | absolute_url }}" alt="Share Chapter on WhatsApp" width="64" height="64">
    </a>
    <a title="Share Chapter on Tumblr"
        href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ s }}&title={{ share_title }}&tags={{ series_camelcase }},WebFiction,Web%20Fiction,WebNovel,Web%20Novel,Web%20Serial,WebSerial,Fantasy&caption={{ tumblr_caption | url_encode }}&posttype=link"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/tumblr/shield.svg" | absolute_url }}" alt="Share Chapter on Tumblr" width="64" height="64">
    </a>
    <a title="Share Chapter on VK" href="https://vk.com/share.php?url={{ s }}" target="_blank"
        rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/vk/shield.svg" | absolute_url }}" alt="Share Chapter on VK" width="64" height="64">
    </a>
    <a title="Share Chapter on Pocket" href="https://getpocket.com/edit?url={{ s }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/pocket/shield.svg" | absolute_url }}" alt="Share Chapter on Pocket" width="64" height="64">
    </a>
    <a title="Share Chapter on Mix" href="https://mix.com/mixit?su=submit&url={{ s }}"
        target="_blank" rel="noopener nofollow">
        <img loading="lazy" src="{{ "/proxy/shields/-/mix/shield.svg" | absolute_url }}" alt="Share Chapter on Mix" width="64" height="64">
    </a>
</div>
{% endunless %}
