<footer>
  <div id="support">
    <p class="icons shields">
      <a href="https://ko-fi.com/RPGReki" rel="me payment"><img src="/proxy/shields/-/kofi/shield.svg" alt="ko-fi" loading="lazy" width="64" height="64"></a>
      <a href="https://throne.me/RPGReki" rel="me payment"><img src="/proxy/shields/-/throne/shield.svg" alt="Throne" loading="lazy" width="64" height="64"></a>
      <a href="https://paypal.me/RPGReki" rel="me payment"><img src="/proxy/shields/-/paypal/shield.svg" alt="PayPal" loading="lazy" width="64" height="64"></a>
    </p>
  </div>
  <div id="copyright" class="float-right">
    <p class="text-right">
      {{ site.copyright.license }}
      {% if site.copyright.url %}<a title="{{ site.copyright.name }}" href="{{ site.copyright.url | absolute_url }}">{% endif %}{{ site.copyright.name }}{% if site.copyright.url %}</a>{% endif %}
    <p class="text-right">
      <small>
        <a title="Privacy Statement" href="{{ "/privacy/" | absolute_url }}">Privacy Statement</a>
        •
        <a title="Legal" href="{{ "/about-me/#legal" | absolute_url }}">Legal</a>
      </small>
  </div>
</footer>
