<div class="wei-banner m-0 p-3" id="wei-banner" data-nosnippet>
  <p class="mt-4 mx-4">
    The browser you are currently using seems to support the <a href="https://github.com/RupertBenWiser/Web-Environment-Integrity">Web Environment Integrity API</a>.
    This user-hostile addition to Google-backed browsers works to undermine the free and open internet.
    More information about the issue:
  </p>
  <p class="mx-4 d-grid gap-2">
    <a href="https://www.youtube.com/watch?v=0i0Ho-x7s_U" class="btn btn-lg btn-primary" title="“Google's trying to DRM the internet, and we have to make sure they fail” YouTube Video by Louis Rossmann">“Google's trying to DRM the internet, and we have to make sure they fail” YouTube Video by Louis Rossmann</a>
  </p>
  <p class="mx-4 d-grid gap-2">
    <a href="https://arstechnica.com/gadgets/2023/07/googles-web-integrity-api-sounds-like-drm-for-the-web/" class="btn btn-lg btn-primary" title="“Google's nightmare ‘Web Integrity API’ wants a DRM gatekeeper for the web” Article by Ars Technica">“Google's nightmare ‘Web Integrity API’ wants a DRM gatekeeper for the web” Article by Ars Technica</a>
  </p>
  <p class="mx-4 d-grid gap-2">
    <a href="https://vivaldi.com/blog/googles-new-dangerous-web-environment-integrity-spec/" class="btn btn-lg btn-primary" title="“Unpacking Google's new ‘dangerous’ Web-Environment-Integrity specification” Artile by Vivaldi">“Unpacking Google's new ‘dangerous’ Web-Environment-Integrity specification” Artile by Vivaldi</a>
  </p>
  <p class="mx-4 d-grid gap-2">
  This message can be hidden by switching to a browser, that doesn't support Web Environment Integrity API.
  </p>
</p>
</div>

