<div class="controls buttons" data-nosnippet>
  <div class="d-inline-flex flex-row">
    <input  id="dark-mode" aria-label="Toggle Dark Mode" type="checkbox" data-toggle="toggle" data-on="🌖" data-off="🔆"
            data-onstyle="green" data-offstyle="red" data-size="lg" data-width="100%">
    <input  id="dyslexic" aria-label="Toggle Font" type="checkbox" data-toggle="toggle" data-on="aA" data-off="Aɑ"
            data-onstyle="green" data-offstyle="red" data-size="lg" data-width="100%">
    <input  id="vide" aria-label="Toggle Font" type="checkbox" data-toggle="toggle" data-on="TV" data-off="𝗧V"
            data-onstyle="green" data-offstyle="red" data-size="lg" data-width="100%">
    {% unless canonical_url %}
      <div class="icons shields d-lg-none">
        <a  title="Share Chapter using Web Share API"
            style="height:48px;width:48px"
            onclick="navigator.share({title:'{{ page.title | replace: "'", "\\'" }}', url:'{{ s }}'})"
            target="_blank" rel="noopener nofollow" id="share" href="#">
          <img loading="lazy" src="{{ "/proxy/shields/-/share/shield.svg" | absolute_url }}" alt="Share Post using Web Share API" width="48" height="48" style="right:3px;width:75px">
        </a>
      </div>
    {% endunless %}
  </div>
</div>
