<blockquote id="{{ comment.message | append: comment.date | sha256_64 }}" class="interface">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Comment",
      "@id": "{{ page.url | absolute_url }}#{{ comment.message | append: comment.date | sha256_64 }}",
      "author": {
        "@type": "Person",
        "name": {{ comment.name | jsonify }}{% if comment.url %},
        "url": {{ comment.url | jsonify }}{% endif %}
      },
      "dateCreated": {{ comment.date | date: '%Y-%m-%dT%R%z' | jsonify }},
      "about": {{ page.url | absolute_url | jsonify }},
      "text": {{ comment.message | escape | markdownify | strip_html | jsonify }}
    }
  </script>
  <p>
    <span>{{ comment.name | xml_escape }}</span>
    on
    <span>{{ comment.date | date: '%Y-%m-%d' }}</span>
  </p>
  <div class="comment-body d-flex">
    <img
    alt="Gravatar for {{ comment.name | xml_escape }}"
    src="{{"/proxy/gravatar/" | absolute_url }}{{ comment.gravatar }}/64/"
    srcset="{{"/proxy/gravatar/" | absolute_url }}{{ comment.gravatar }}/128/ 2x"
    height="64" width="64"
    crossorigin="anonymous">
    <div class="d-inline-block">
    {{ comment.message | escape | markdownify | replace: '<a ', '<a target="_blank" rel="nofollow ugc" '}}</div>
    </div>
  <div class="clearfix"></div>
</blockquote>
