@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-toggle.min";
@import "functions";
@import "fonts-files-web";
@import "fonts";
@import "colors-common";
@import "colors";
@import "animation";
@import "interface";
@import "glossary";
@import "ruby-characters";
@import "option-dyslexic";
@import "option-vide";
@import "icons";
@import "print";

html {
  scroll-behavior: smooth;
}

#body {
  font-weight: 400;
  margin: 0;
  display: grid;
  grid-template: auto;
  grid-template-areas:
    "title"
    "policy-banner"
    "wei-banner"
    "controls"
    "breadcrumbs"
    "content"
    "comments"
    "footer";
  hyphens: auto;
  max-width: 100vw;
  overflow-x: hidden;

  @media screen and (min-width: 992px) {
    grid-template: auto / 1fr 960px 1fr;
    gap: 0;
  }

  > * {
    margin: .5rem;
    max-width: calc(100vw - 1rem);

    @media screen and (min-width: 768px) {
      margin: .5rem 1rem;
    }
  }

  > header, > footer, >.policy-banner, >.controls {
    max-width: 100vw;
    margin: 0;
    padding: .5rem;

    @media screen and (min-width: 768px) {
      padding: 1rem;
    }
  }

  > header {
    grid-area: title;

    @media screen and (min-width: 992px) {
      grid-column: 1 / span 3;
      grid-row: 1;
    }
  
    .h1 {
      margin-bottom: 0;

      img {
        margin-right: .1em;
        margin-bottom: .2em;
      }
    }
  }

  > .controls {
    grid-area: controls;
    display: none;
    top: 0;
    z-index: 500;

    .toggle {
      max-height: 3em;
    }

    .toggle-group {
      label {
        line-height: unset !important;
      }
    }

    .d-inline-flex {
      flex-grow: 1;
      flex-basis: 0;

      > * {
        margin: 0 .5rem 0 0;
        flex-grow: 1;
      }

      > *:last-child {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 768px) {
      > div {
        margin-top: 0 !important;
      }
    }

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 4 / 5;
      z-index: initial;

      .d-inline-flex {
        min-width: unset;
        margin: 0;

        > * {
          margin: 0 1rem 0 0;
        }
      }
    }

    @media screen and (min-width: 1200px) and (min-height: 840px) {
      position: static;
      grid-column: 3;
      grid-row: 3 / 7;
      max-width: calc((100vh - 992px - 5rem) / 2);
      z-index: 500;

      > div {
        position: sticky;
        top: 0;
        min-width: 485px !important;
        height: 45px;
        transform-origin: 0% 100%;
        transform: rotate(-90deg) scale(-1) translateX(-33px) translateY(1rem);
      }

      label,
      span {
        transform: rotate(-90deg);
        display: inline-block;
      }

      label + span {
        transform: unset;
      }
      
      .btn-green {
        transform-origin: 45% 50%;
      }
      
      .btn-red {
        transform-origin: 55% 50%;
      }
    }
  }
    
  > .breadcrumb {
    grid-area: breadcrumbs;
    padding: .5em 1em;
    
    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 2;
    }
  }

  > main {
    grid-area: content;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      grid-column: 2;
      grid-row: 5;
      min-height: calc(100vh - 12rem - 177px);
      padding: 1rem 0;
    }

    @media screen and (min-width: 1200px) and (min-height: 840px) {
      min-height: calc(100vh - 12rem - 113px);
    }

    p {
      text-align: left;
      
      &:last-child {
        margin-block-end: 0;
      }
    }

    header, footer {
      nav {
        gap: .5rem;
      }
    }
  }

  >footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 600;

    @media screen and (min-width: 992px) {
      grid-column: 1 / span 3;
      grid-row: 7;
      height: 7rem;
    }

    #support {
      grid-area: support;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;

      margin-bottom: 1rem;

      @media screen and (min-width: 768px){
        margin-bottom: 0;
      }
   }
  }

  >.policy-banner {
    display: none;
    grid-area: policy-banner;
    z-index: 999;
    top: 0;

    @media screen and (min-width: 768px) {
      grid-column: 1;
      grid-row: 2;
    }

    @media screen and (min-width: 992px) {
      grid-column: 1 / span 3;
      grid-row: 3;
    }

    .policy-button,
    .policy-button-all {
      display: block;
      padding: .5rem;
      margin: 1rem;
      border: 2px outset;
    }
  }

  >.wei-banner {
    grid-area: wei-banner;
    z-index: 999;
    top: 0;
    background: var(--bs-danger);
    display: none;

    @media screen and (min-width: 768px) {
      grid-column: 1;
      grid-row: 3;
    }

    @media screen and (min-width: 992px) {
      grid-column: 1 / span 3;
      grid-row: 4;
    }

    .policy-button,
    .policy-button-all {
      display: block;
      padding: .5rem;
      margin: 1rem;
      border: 2px outset;
    }
  }

  >#comments {
    grid-area: comments;

    @media screen and (min-width: 992px) {
      margin: 0;
      grid-column: 2;
      grid-row: 6;
    }
  }
}

figure {
  margin: 0;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;

  &:not([width]):not([height]) {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.post-image a {
  text-align: center;
  display: block;
}

.count {
  text-align: right;
  display: inline-block;

  &.w-2 {
    width: 2em;
  }

  &.w-3 {
    width: 3em;
  }
}

a {
  text-decoration: none;
}

.pdf-only {
  display: none;
}

.blog-post .button {
  margin-inline: 0;
}

form {
  border: 0;
  padding: 0;

  input,
  textarea {
    display: block;
    width: 100%;
  }

  fieldset>div {
    margin: .5rem;
  }
}

#comments {
  ol {
    list-style-type: none;
    padding-inline-start: 0;
  }

  img {
    float: left;
    margin: 0 .5rem 1rem 0;
  }
}

.back::after {
  bottom: 0 !important;
}

.disabled {
  cursor: default !important;
}

[itemprop=mainEntity] h2 {
  margin-top: 1em;
}

.patreon-logo {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  color:rgb(0, 0, 0) !important;

  [data-color],
  [data-fill] {
    fill: rgb(0, 0, 0);
  }
}

.entry-summary .btn {
  &::before {
    content: "Read “";
  }

  &::after {
    content: "”";
  }

  p {
    line-height: 100% !important;
  }
}

.entry-summary form .btn {
  &::before,
  &::after {
    display: none;
  }
}

.collapse:not(.show) {
  @media screen and (min-width: 768px) {
    display: initial !important;
  }
}

.policy-banner[style*=display] + .controls {
  display: none !important;
}

.tts-controls {
  position: sticky;
  top: 0;
  z-index: 910;
  padding-bottom: .5rem;
    
  @media screen and (min-width: 768px) {
    margin-inline: -15px;
    padding: .5rem 15px;
    min-width: calc(100vw - 18px);
  }

  @media screen and (min-width: 992px) {
    margin-inline: 0;
    padding-inline: 0;
    min-width: unset;    
  }
}

@media screen and (min-width: 768px){
  .dropdown-menu {
    padding: .5rem 2em .5rem 0;
    left: unset;
    right: 0;
  }
}

.skip-nav {
  position: absolute;
  transform: translateY(-130%);
  top: 0;
  border-radius: 0 0 .25rem .25rem;
  background-color: $black;
  padding: .3rem .8rem .5rem;

  &:focus {
    transform: translateY(0);
  }
}